<%- include('./layouts/header'); %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 m-3">
            <h2 style="font-weight: lighter">Conocimiento Academico</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="/images/kinal.png" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">Estudios Basicos</h2>
            <p>Cursados de 2012 a 2015 en el Centro Educativo Tecnico Laboral Kinal</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="/images/kinal.png" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">Estudios Diversificado</h2>
            <p>Cursados de 2015 a 2017 en Kinal, graduandome como Perito en Computacion.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="/images/umg.png" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">Estudios Universitarios</h2>
            <p>De 2018 en adelante, curso la carrera de Ingenieria en Sistemas de la Informacion en la Universidad Mariano Galvez</p>
        </div>
    </div>
</div>
<%- include('./layouts/footer'); %>