<%- include('./layouts/header'); %>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-lg-4">
        <img src="images/julio.jpg" height="95%" width="65%">
        </div>
        <div class="col-lg-8">
            <h2 style="font-weight: lighter">Lectura</h2>
            <p>Tengo un gran gusto por la lectura, desde libros de ficcion, academicos, hasta programacion. Tengo mayor gusto por libros de ficcion/historia como libros de Julio Berne</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
        <img src="images/software.png" height="95%" width="65%">
        </div>
        <div class="col-lg-8">
            <h2 style="font-weight: lighter">Desarrollo de Software</h2>
            <p>Me apasiona el desarrollo de aplicaciones de todo tipo, las buenas practicas y la inovacion en el area programacion</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
        <img src="images/reforestacion.jpg" height="95%" width="65%">
        </div>
        <div class="col-lg-8">
            <h2 style="font-weight: lighter">Medio ambiente</h2>
            <p>Participo como voluntario en un campañas de reforestacion con un grupo llamando <b>Plantemos mil arboles</b> que con ayuda de diferentes instituciones realizan plantaciones masivas de arboles en parques nacionales y areas de cuidado</p>
        </div>
    </div>
</div>
<%- include('./layouts/footer'); %>
