<%- include('./layouts/header'); %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
        <img src="" height="95%" width="65%">
        </div>
        <div class="col-lg-8">
            <h2 style="font-weight: lighter">Lectura</h2>
            <p>Tengo un gran gusto por la lectura, desde libros de ficcion, academicos, hasta programacion. Tengo mayor gusto por libros de ficcion/historia como libros de Julio Berne</p>
        </div>
    </div>
</div>
<%- include('./layouts/footer'); %>