<%- include('./layouts/header'); %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 m-3">
            <h2 style="font-weight: lighter">Conocimiento Tecnico</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="images/ccna.png" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">Modulo 1 y 2 de CCNA</h2>
            <p>Curso de Cisco Certified Network Associate, completado</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="images/php.png" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">PHP</h2>
            <p>Desarrollo en PHP, con servidores Apache, para la creacion de Web APIs y Paginas Web</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="images/node.png" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">Node JS</h2>
            <p>Desarrollo en Javascript/ECMA Script, para servidores NodeJS, ya se para BackEnd (Web APIs) o FrontEnd (Web Apps, SPAs, otros)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="images/android.png" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">APPs nativas en Android</h2>
            <p>Creacion de APPs Nativas para Android</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="images/java.jpeg" height="95%" width="45%">
        </div>
        <div class="col-lg-9">
            <h2 style="font-weight: lighter">Java</h2>
            <p>Desarrollo de software robusto con Java tanto para Java SE (Desktop APPs), Java EE (Aplicaciones Web)</p>
        </div>
    </div>
</div>
<%- include('./layouts/footer'); %>